/.idea
/.vscode
*.log
thinkphp
.env
.DS_Store
/composer.lock
/vendor/dh2y/think-auth
/vendor/dh2y/think-crypt
/vendor/dh2y/think-login
/vendor/dh2y/think-ueditor
/vendor/bin
/vendor/composer
/vendor/topthink
/vendor/autoload.php
/vendor/phpoffice
/config/database.php
/config/admin/sms.php
/public/.user.ini
/public/install/install.lock
/public/.well-known
