<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="layout:_meta" /}
    <title>导入手机号 - 发送人</title>
</head>
<body>
<article class="cl pd-20">
    <form class="form form-horizontal" id="form-admin">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">批量导入模板</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a href="/联系人导入模板.xls">导入模板下载</a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">批量导入</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a class="btn btn-primary radius" onclick="document.getElementById('up_file').click()">点击上传</a>
                <input id="up_file" type="file" style="display: none" v-on:change="upFile()">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="layout:_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    var model = {

    };
    var store_model = new Vue({
        el: "#form-admin",
        data: {
            model:model
        },
        mounted: function () {

        },
        methods: {

            //上传图片
            upFile:function () {
                var _this = this;
                layer.load();
                upImage("{:url('sms/add')}", 'up_file', function (ret) {
                    layer.closeAll('loading');
                    if (ret.status == true) {
                        layer.msg(ret.message);
                        _this.batchAdd(ret.data,0);
                    }
                })
            },

            batchAdd:function (total,have) {
                var _this = this;
                util.get("{:url('sms/add')}",{total:total,have:have},function (res) {
                        if (res.status == true){
                            if (res.have <= res.data){
                                layer.msg(res.message,function () {
                                    _this.batchAdd(res.data,res.have);
                                },1000);
                            }else {
                                parent.location.href="{:url('sms/index')}";
                            }

                        }
                });
            }
        }
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>