<!DOCTYPE HTML>
<html>
<head>
    {include file="layout:_meta" /}
    <title>群发对象</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    短信管理 <span class="c-gray en">&gt;</span>
    群发对象
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div id="table" class="page-container">
    <div class="text-c">
        <input id="create_time" type="text" class="input-text" v-model="search.create_time"  style="width:350px" placeholder="请选择上传日期范围">
        <input type="text" class="input-text"  v-model="search.phone" style="width:250px" placeholder="请输入手机号" v-on:keyup.enter="btnSearch()">
        <input type="text" class="input-text"  v-model="search.tag" style="width:250px" placeholder="请输入标签" v-on:keyup.enter="btnSearch()">
        <button type="submit" v-on:click="btnSearch()" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" v-on:click="adminAdd()" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i>
                导入联系人
            </a>
             <a href="javascript:;" v-on:click="adminRepet()" class="btn radius">
                <i class="Hui-iconfont">&#xe600;</i>
                电话去重
            </a>
            <a href="javascript:;" v-on:click="adminBathDel()" class="btn  btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i>
                批量删除
            </a>
             <a href="javascript:;" v-on:click="adminBathClear()" class="btn  btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i>
                一键清除
            </a>
             <a href="javascript:;" v-on:click="btnSend()" class="btn  btn-success radius">
                <i class="Hui-iconfont">&#xe63b;</i>
                发送短信
            </a>
            <a href="javascript:;" v-on:click="tagInfo()" class="btn  btn-success radius">
                <i class="Hui-iconfont">&#xe62b;</i>
                群组信息
            </a>
        </span>
        <span class="r">共有数据：<strong>{{count}}</strong> 条</span></div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="10">文章列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="50">ID</th>
            <th>手机号</th>
            <th >标签</th>
            <th >添加时间</th>
            <th >操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" v-for="(item,index)  in lists">
            <td><input type="checkbox" v-bind:value="item.id" name="ids"></td>
            <td>{{item.id}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.tag}}</td>
            <td>{{item.create_time,'yyyy-MM-dd HH:mm:ss'|timeFormat}}</td>
            <td class="td-manage">
                <a  v-if="show.remove" title="删除" v-bind:data-id="item.id" v-on:click="btnDel($event,index)" class="btn btn-danger radius size-MINI">
                    <i class="Hui-iconfont">&#xe6e2;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--vueJS分页---start-->
    <div class="pagination">
        <ul>
            <li v-if="current>1"><a v-on:click="current--,pageClick()">上一页</a></li>
            <li v-if="current==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': current == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="current!=total"><a v-on:click="current++,pageClick()">下一页</a></li>
            <li v-if="current == total"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{total}}</i>页</a></li>
        </ul>
    </div>
    <!--vueJS分页---end-->
</div>
<!--_footer 作为公共模版分离出去-->
{include file="layout:_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<!--<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>-->
<script type="text/javascript">
    var models = {
        show:{},

        count:0,
        lists: [],//表格数据
        total:1, //总页数
        current:1,  //当前页码
        search:{}   //搜索框
    };

    var app_model = new Vue({
        el: "#table",
        data: models,
        mounted: function () {
            this.checkAuth();
            this.initTime();
        },
        methods: {
            //检测页面显示按钮权限
            checkAuth:function () {
                var auth = {
                    remove:'sms/remove'
                };
                util.post("{:url('index/auth')}",auth,function (data) {
                    app_model.show = data;
                });
            },

            //初始化时间
            initTime:function () {
                laydate.render({
                    elem: '#create_time',type:'datetime',range: true,
                    done: function(value, date, endDate){
                        app_model.search.create_time = value;
                    }
                });
            },

            //上一页,下一页翻页
            pageClick: function(){
                initTable("{:url('sms/index')}",this.current,this.search);
            },

            //点击页码
            btnClick: function(data){
                if(data != this.current){
                    this.current = data;
                    initTable("{:url('sms/index')}",this.current,this.search);
                }
            },
            //添加按钮
            adminAdd:function () {
                var url = "{:url('sms/add')}";
                admin_add('导入联系人',url,'500','300');
            },
            //删除按钮
            btnDel: function (event, index) {
                var _this = $(event.currentTarget);
                var id = _this.attr('data-id');
                admin_del("{:url('sms/remove')}", id, index);
            },

            //批量删除
            adminBathDel:function(){
                var ids ='';
                $('input[name="ids"]').each(function(){
                    if ($(this).is(':checked')){
                        var tem = $(this).val();
                        ids += ids==''?tem:','+tem
                    }
                });
                if (ids==''){
                    layer.msg('请勾选需要删除的数据',{icon:2,time:3000});return;
                }
                admin_del("{:url('sms/remove')}", ids);
            },

            adminBathClear:function () {
                layer.confirm('确认要删除全部手机号么吗？',function(index){
                    util.post("{:url('sms/bath_remove')}",function (data) {
                        if(data.status==true){
                            layer.msg(data.message,{icon:1,time:2000},function () {
                                location.href="{:url('sms/index')}";
                            });
                        }else {
                            layer.msg(data.message,{icon:2,time:3000});
                        }
                    });
                });
            },


            //搜索框搜索
            btnSearch:function () {
                initTable("{:url('sms/index')}",this.current,this.search);
            },

            //发送短信
            btnSend:function () {
                var url = "{:url('sms/send')}";
                admin_add('发送短信',url,'500','450');
            },

            //发送短信
            tagInfo:function () {
                var url = "{:url('tag/index')}";
                admin_add('群组信息',url,'800','600');
            },

            //电话号码去重
            adminRepet:function () {
                layer.load();
                $.post("{:url('sms/repet')}",function (data) {
                    layer.closeAll('loading');
                    layer.msg(data.message);
                });
            }
        },

        //分页
        computed: {
            indexs: function () {
                var left = 1;
                var right = this.total;
                var ar = [];
                if (this.total >= 5) {
                    if (this.current > 3 && this.current < this.total - 2) {
                        left = this.current - 2;
                        right =left + 4;
                    } else {
                        if (this.current <= 3) {
                            left = 1;
                            right = 5;
                        } else {
                            right = this.total;
                            left = this.total - 4;
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left);
                    left++;
                }
                return ar
            }
        }
    });
    //初始化数据表格
    initTable("{:url('sms/index')}");
</script>
</body>
</html>