<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="layout:_meta" /}
    <title>添加管理员 - 管理员管理</title>
</head>
<body>
<article class="cl pd-20">
    <form class="form form-horizontal" id="form-admin">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"> 充值方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="radio-box">
                    <input type="radio" id="erc" name="demo-radio1" value="erc" v-model="rechargeType">
                    <label for="erc">ERC20</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="trc" name="demo-radio1" value="trc" v-model="rechargeType">
                    <label for="trc">TRC20</label>
                </div>
            </div>
        </div>
        <div style="display: none" v-show="rechargeType=='erc'">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 充值金额：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$price} USDT" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 充值二维码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <img src="{$config['erc_qrcode']}" width="120">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 钱包地址：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea class="textarea" disabled>{$config['erc_code']}</textarea>
                    <p></p>
                    <span style="color: #f37b1d">请在支付完成后点击【我已支付】加速入帐时间。</span>
                </div>
            </div>
        </div>
        <div style="display: none" v-show="rechargeType=='trc'">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 充值金额：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="{$price}  USDT" disabled>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 充值二维码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <img src="{$config['trc_qrcode']}" width="120">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"> 钱包地址：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea class="textarea" disabled>{$config['trc_code']}</textarea>
                    <p></p>
                    <span style="color: #f37b1d">请在支付完成后点击【我已支付】加速入帐时间。</span>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input type="button" class="btn btn-default radius" v-on:click="onClose()" value="关闭">
                <input type="button" class="btn btn-primary radius" v-on:click="doSubmit()" value="我已支付">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="layout:_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
     var model = {
        goodsInfo: {},
        payInfo: [],
        rechargeType: 'erc'
    };
    var store_model = new Vue({
        el: "#form-admin",
        data: model,
        watch: {
            rechargeType: function (val) {
                console.log(val)
            }
        },
        methods: {
            doSubmit: function () {
                $.ajax({
                    type: 'post',
                    data: this.model,
                    url: "{:url('pay/recharge')}?goods_id={$goods_id}&type=usdt",
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == true) {
                            layer.msg(data.message, function () {
                                layer_close();
                            })
                        } else {
                            layer.msg(data.message);
                        }
                    }
                });
            },

            onClose: function () {
                layer_close();
            }
        }
       
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>