<!DOCTYPE HTML>
<html>
<head>
    {include file="layout:_meta" /}
    <title>文章列表</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    系统管理 <span class="c-gray en">&gt;</span>
    充值套餐
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div id="table" class="page-container">
    <div class="text-c">
        <input type="text" class="input-text"  v-model="search.title" style="width:250px" placeholder="请输入套餐名称" v-on:keyup.enter="btnSearch()">
        <button type="submit" v-on:click="btnSearch()" class="btn btn-success" name=""><i class="Hui-iconfont">&#xe665;</i> 搜套餐</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" v-on:click="adminAdd()" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i>
                添加套餐
            </a>
             <a href="javascript:;" v-on:click="adminBathDel()" class="btn  btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i>
                批量删除
            </a>
        </span>
        <span class="r">共有数据：<strong>{{count}}</strong> 条</span></div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="10">套餐列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" name="" value=""></th>
            <th width="50">ID</th>
            <th width="100">标题</th>
            <th width="100">短信条数</th>
            <th width="100">VIP时长</th>
            <th width="100">赠送时长</th>
            <th width="100">价格</th>
            <th width="100">USDT</th>
            <th width="100">是否显示</th>
            <th width="100">添加时间</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" v-for="(item,index)  in lists">
            <td><input type="checkbox" v-bind:value="item.id" name="ids"></td>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.num}}条</td>
            <td>{{item.day}}天</td>
            <td>{{item.give}}天</td>
            <td>{{item.price}}</td>
            <td>{{item.usdt}}</td>
            <td>
                <span v-if="item.state==0" class="label label-default radius">下架</span>
                <span v-else class="label label-success radius">上架</span>
            </td>
            <td>{{item.create_time,'yyyy-MM-dd HH:mm:ss'|timeFormat}}</td>
            <td class="td-manage">
                <a v-if="show.status" v-on:click="adminStop($event,item)"  :title="item.state==1?'下架':'上架'" class="btn radius size-MINI" :class="item.state==1?'btn-warning':'btn-secondary'">
                    <i class="Hui-iconfont">
                        <span v-if="item.state==1">&#xe631;</span>
                        <span v-else>&#xe615;</span>
                    </i>
                </a>
                <a v-if="show.edit" title="编辑" v-bind:data-id="item.id" v-on:click="adminEdit($event)" class="btn btn-success radius size-MINI"><i
                        class="Hui-iconfont">&#xe6df;</i>
                </a>
                <a  v-if="show.remove" title="删除" v-bind:data-id="item.id" v-on:click="btnDel($event,index)" class="btn btn-danger radius size-MINI">
                    <i class="Hui-iconfont">&#xe6e2;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--vueJS分页---start-->
    <div class="pagination">
        <ul>
            <li v-if="current>1"><a v-on:click="current--,pageClick()">上一页</a></li>
            <li v-if="current==1"><a class="banclick">上一页</a></li>
            <li v-for="index in indexs"  v-bind:class="{ 'active': current == index}">
                <a v-on:click="btnClick(index)">{{ index }}</a>
            </li>
            <li v-if="current!=total"><a v-on:click="current++,pageClick()">下一页</a></li>
            <li v-if="current == total"><a class="banclick">下一页</a></li>
            <li><a>共<i>{{total}}</i>页</a></li>
        </ul>
    </div>
    <!--vueJS分页---end-->
</div>
<!--_footer 作为公共模版分离出去-->
{include file="layout:_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<!--<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>-->
<script type="text/javascript">
    var models = {
        show:{},

        count:0,
        lists: [],//表格数据
        total:1, //总页数
        current:1,  //当前页码
        search:{}   //搜索框
    };

    var app_model = new Vue({
        el: "#table",
        data: models,
        mounted: function () {
            this.checkAuth();
        },
        methods: {
            //检测页面显示按钮权限
            checkAuth:function () {
                var auth = {
                    status:'goods/status',
                    edit:'goods/edit',
                    remove:'goods/remove'
                };
                util.post("{:url('index/auth')}",auth,function (data) {
                    app_model.show = data;
                });
            },

            //上一页,下一页翻页
            pageClick: function(){
                initTable("{:url('goods/index')}",this.current,this.search);
            },

            //点击页码
            btnClick: function(data){
                if(data != this.current){
                    this.current = data;
                    initTable("{:url('goods/index')}",this.current,this.search);
                }
            },
            //添加按钮
            adminAdd:function () {
                var url = "{:url('goods/add')}";
                admin_add('添加套餐',url,'600','450');
            },

            //停用|启用
            adminStop:function (event, item) {
                var msg = item.state==1?'确认下架吗？':'确认上架么？';
                var status = item.state==1?0:1;
                layer.confirm(msg,function(){
                    util.post("{:url('goods/status')}",{id:item.id,state:status},function (data) {
                        if(data.status==true){
                            item.state = status;
                            layer.msg(data.message,{icon:1,time:1000});
                        }else {
                            layer.msg(data.message,{icon:1,time:1000});
                        }
                    });
                });
            },

            //删除按钮
            btnDel: function (event, index) {
                var _this = $(event.currentTarget);
                var id = _this.attr('data-id');
                admin_del("{:url('goods/remove')}", id, index);
            },

            //批量删除
            adminBathDel:function(){
                var ids ='';
                $('input[name="ids"]').each(function(){
                    if ($(this).is(':checked')){
                        var tem = $(this).val();
                        ids += ids==''?tem:','+tem
                    }
                });
                if (ids==''){
                    layer.msg('请勾选需要删除的数据',{icon:2,time:3000});return;
                }
                admin_del("{:url('goods/remove')}", ids);
            },

            //编辑
            adminEdit: function (event) {
                var _this = $(event.currentTarget);
                var id = _this.attr('data-id');
                var url = "{:url('goods/edit')}" + "?id=" + id;
                admin_edit('编辑套餐', url, '600','450');
            },

            //搜索框搜索
            btnSearch:function () {
                initTable("{:url('goods/index')}",this.current,this.search);
            }
        },

        //分页
        computed: {
            indexs: function () {
                var left = 1;
                var right = this.total;
                var ar = [];
                if (this.total >= 5) {
                    if (this.current > 3 && this.current < this.total - 2) {
                        left = this.current - 2;
                        right =left + 4;
                    } else {
                        if (this.current <= 3) {
                            left = 1;
                            right = 5;
                        } else {
                            right = this.total;
                            left = this.total - 4;
                        }
                    }
                }
                while (left <= right) {
                    ar.push(left);
                    left++;
                }
                return ar
            }
        }
    });
    //初始化数据表格
    initTable("{:url('goods/index')}");
</script>
</body>
</html>