<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    {include file="layout:_meta" /}
    <title>编辑短信模板 - 短信模板管理</title>
</head>
<body>
<article class="cl pd-20">
    <form class="form form-horizontal" id="form-admin">
        {eq name="group_id" value="1"}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模板类别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input value="{$uid}" type="radio" id="sex-1" v-model="model.uid">
                    <label for="sex-1">自己使用</label>
                </div>
                <div class="radio-box">
                    <input value="0" type="radio" id="sex-2"  v-model="model.uid">
                    <label for="sex-2">系统模板</label>
                </div>
            </div>
        </div>
        {/eq}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">模板名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入模板名称方便区分" v-model="model.template_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">模板ID：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="请输入使用场景如：442268" v-model="model.code">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模板内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea type="text" class="input-text" v-model="model.message" style="height: 200px"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>短信服务商：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select"  size="1" v-model="model.sid">
                        <option  value="">请选择短信服务商</option>
                        <option v-for="option in service" v-bind:value="option.id">{{option.name }}</option>
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <div class="panel panel-default col-md-offset-2 col-xs-12 col-sm-12">
                <div class="panel-header">短信内容变量名称</div>
                <div class="panel-body">
                    <div class="row cl" v-for="(item,index)  in model.params">
                        <div class="formControls col-xs-8 col-sm-2">
                            <input type="text" class="input-text" placeholder="短信内容key" v-model="item.val">
                        </div>
                        <div  class="formControls col-xs-2 col-sm-1">
                            <a class="btn radius" v-on:click="AddOrDelParams(index)"><i class="Hui-iconfont Hui-iconfont-jianhao"></i></a>
                        </div>
                    </div>
                    <div class="row cl">
                        <div class="formControls col-xs-8 col-sm-1">
                            <a class="btn radius" v-on:click="AddOrDelParams()"><i class="Hui-iconfont Hui-iconfont-add"></i></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" v-on:click="doSubmit()" value="提交">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="layout:_footer" /}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    var model = {};

    var store_model = new Vue({
        el: "#form-admin",
        data: {
            model:model,
            service: []
        },
        methods: {

            //添加短信内容参数
            AddOrDelParams:function (index) {
                if (index>=0){
                    this.model.params.splice(index, 1)
                }else {
                    this.model.params.push({val:''});
                }
            },

            doSubmit: function() {
                $.ajax({
                    type:'post',
                    data:this.model,
                    url:"{:url('template/edit')}",
                    cache: false,
                    dataType:'json',
                    success:function(data){
                        if(data.status==true){
                            layer.msg(data.message,function () {
                                parent.location.href="{:url('template/index')}";
                            })
                        }else {
                            layer.msg(data.message);
                        }
                    }
                });
            }
        }
    });

    //菜单模块
    util.get("{:url('template/edit')}",{id:"{$edit_id}"},function (data) {
        store_model.service = data.service;
        store_model.model = data.model;
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>