<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="index.html">
                <img src="__static__/index/img/logo.png" alt="网络公司">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class='layui-nav-item {eq name="this_nav" value="/"}layui-this{/eq}'><a href="/">首页</a></li>
                <li class='layui-nav-item {eq name="this_nav" value="news"}layui-this{/eq}'><a href="news.html">文档</a></li>
                <li class='layui-nav-item {eq name="this_nav" value="about"}layui-this{/eq}'><a href="about.html">关于</a></li>
                <li class='layui-nav-item'><a href="admin.html">登录/注册</a></li>
            </ul>
        </div>
    </div>
</div>